@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap');
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
	text-decoration: none;
}
:root {
	--main-color: #277aae;
	--main-light: #bedce7;
	--accent-light: #F4E3B3;
}
body {
	background: #efefef;
}
a,
a:hover,
a:focus {
	-webkit-transition-duration: 500ms;
	transition-duration: 500ms;
	text-decoration: none;
	outline: 0 solid transparent;
	-webkit-box-shadow: none;
	box-shadow: none;
	color: #000;
}
.flex {
	display: flex;
	align-items: center;
}
.flex-stat {
	display: flex;
	align-items: center;
	font-size: 12px;
	margin-bottom: 13px;
	margin-top: 10px;
}
header {
	background: linear-gradient(rgba(0, 167, 246, 0.7), rgba(74, 76, 233, 0.7)), url(./img/bg.png);
	background-size: cover;
	padding: 2rem 1.5rem 5rem 1.5rem;
}
header nav {
	display: flex;
	justify-content: space-between;
	align-content: center;
}
nav p {
	font-weight: 700;
	color: #fff;
	font-size: 17px;
	margin: 10px auto;
}
.title-stat-top {
	font-weight: 700;
	color: #fff;
	font-size: 18px;
}
.animation-area {
	width: 100%;
	height: 1vh;
}
.box-area {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.box-area li {
	position: relative;
	display: block;
	list-style: none;
	width: 25px;
	height: 25px;
	background: rgba(255, 255, 255, 0.2);
	animation: animate 20s linear infinite;
	bottom: -150px;
}
.box-area li:nth-child(1) {
	left: 86%;
	width: 80px;
	border-radius: 34px;
	height: 80px;
	animation-delay: 0s;
}
.box-area li:nth-child(2) {
	left: 12%;
	width: 30px;
	height: 30px;
	border-radius: 34px;
	animation-delay: 1.5s;
	animation-duration: 10s;
}
.box-area li:nth-child(3) {
	left: 70%;
	width: 100px;
	height: 100px;
	border-radius: 35px;
	animation-delay: 5.5s;
}
.box-area li:nth-child(4) {
	left: 42%;
	width: 108px;
	height: 108px;
	border-radius: 35px;
	animation-delay: 0s;
	animation-duration: 15s;
}
.box-area li:nth-child(5) {
	left: 65%;
	width: 40px;
	height: 40px;
	border-radius: 34px;
	animation-delay: 0s;
}
.box-area li:nth-child(6) {
	left: 15%;
	width: 110px;
	border-radius: 34px;
	height: 110px;
	animation-delay: 3.5s;
}
@keyframes animate {
	0% {
		transform: translateY(0) rotate(0deg);
		opacity: 1;
	}
	100% {
		transform: translateY(-800px) rotate(360deg);
		opacity: 0;
	}
}
.bottom-nav {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
}
.btn,
.btn:hover,
.btn:focus {
	font-weight: 700;
	-webkit-box-shadow: none;
	box-shadow: none;
	cursor: pointer;
}
.bton {
	padding: .375rem 1rem;
	font-size: 15px;
	font-weight: 700;
	border-radius: .3rem;
}
.bton:hover,
.btn:focus {
	color: #ffffff;
}
.btn-primary1 {
	background-color: #ffd800;
}
.btn-primary1:hover,
.btn-primary1:focus {
	background-color: #f5a905;
	border-color: #f5a905;
}
.search span {
	font-size: 1.3rem;
	margin-right: .6rem;
}
.search input {
	display: block;
	flex: 1;
	background: transparent;
	border: none;
	outline: none;
}
nav .img-top {
	height: 45px;
	float: right;
	margin: -14px auto;
	width: 45px;
	background-size: cover;
	background-repeat: no-repeat;
}
.action-bar {
	width: 100%
}
.action-bar .info {
	width: 100%;
	color: #fff;
	font-size: 12px;
	flex: 1 !important;
	text-align: center;
}
.action-bar a {
	color: #fff;
}
.action-bar span {
	font-size: 1.4rem;
	color: #fff;
}
main {
	padding: 1rem;
	padding-bottom: 4rem;
	background: #efefef;
	border-radius: 35px 35px 0px 0px;
	position: relative;
	top: -3rem;
}
.section-wrapper {
    background: #fff;
    box-shadow: 3px 3px 30px rgb(0 0 0 / 10%);
    padding: 1rem;
	padding-bottom: 0px;
    border-radius: 15px;
}
.section-wrapper-1 {
	background: #fff;
	box-shadow: 3px 3px 30px rgba(0, 0, 0, 0.1);
	padding: 1rem;
	border-radius: 15px;
}
.flex-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #ccc;
	padding-bottom: 2rem;
	padding: 1rem;
	margin-top: -18px;
	margin-bottom: -5px;
}
.section-wrapper h2 {
	font-size: 1.2rem;
	color: #333;
}
.section-wrapper h2 + a {
	font-size: 1.1rem;
	color: var(--main-color);
	font-weight: bold;
}
.section-wrapper-1 h2 {
	font-size: 1.2rem;
	color: #333;
}
.section-wrapper-1 h2 + a {
	font-size: 1.1rem;
	color: var(--main-color);
	font-weight: bold;
}
.items {
	width: 100%;
	margin: auto;
	display: flex;
	overflow-x: auto;
}
.items::-webkit-scrollbar {
	width: 0rem !important;
}
.items::-webkit-scrollbar-track {
	width: 0;
}
.item {
	min-width: 100px;
	margin-right: 1.5rem;
}
.item h4 {
	font-size: 14px;
}
.item-img {
	width: 100%;
	height: 100px;
	border-radius: 20px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.login-form {
	position: relative;
	z-index: 1;
}
.login-form .login-form-box {
	height: 34.4px;
	padding: 5px 15px;
	font-size: 12px;
	border-radius: .3rem;
	width: 100%;
	border: none;
	box-sizing: border-box;
	box-shadow: 3px 3px 30px rgb(0 0 0 / 10%);
}
.login-form button {
	position: absolute;
	top: 0px;
	right: 0;
	height: 34px;
	z-index: 10;
	color: #fff;
	border: none;
}
.login-form-box {
	height: 44px;
	padding-top: 5px;
	padding-bottom: 5px;
}
.buttons {
	display: flex;
}
.login-container {
	width: 100%;
}
.login-form-m {
	margin: auto;
	width: 100%;
	padding-top: 15px;
	max-width: 100%;
}
.login-form-m .form-control-m {
	font-size: 15px;
	min-height: 48px;
	font-weight: 500;
}
.form-control-m:focus {
	border-color: #1485e2;
	box-shadow: 0 0 0 0.2rem rgba(114, 61, 190, .25);
}
.btn-custom {
	background: #1485e2;
	color: #fff;
	border: none;
	width: 100%;
	border-radius: 8px;
	font-size: 14px;
	font-weight: 600;
	min-height: 40px;
}
.btn-custom:focus,
.btn-custom:hover,
.btn-custom:active,
.btn-custom:active:focus {
	background: #067cdd;
	border-color: #067cdd;
	color: #fff;
}
.btn-custom:focus {
	box-shadow: 0 0 0 0.2rem rgba(114, 61, 190, .25);
}
.fail .bi-dash-circle-fill {
	color: #e81818;
	margin-right: 4px;
	text-align: center;
}
.fail .descrip2 {
	color: #fff;
	font-size: 12px;
	text-align: center;
}
.error .bi-dash-circle-fill {
	color: #e81818;
	margin-right: 4px;
}
.error .descrip {
	color: #ec7881;
	font-size: 14px;
}
.catagory-card {
	flex: 1;
	/* padding: 13px; */
	border-radius: 10px;
	background: none;
	/* margin: 7px; */
	margin-right: -25px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.catagory-card a {
	display: block;
	padding-top: .25rem;
	text-decoration: none;
}
.catagory-card img {
	width: 40%;
	cursor: pointer;
}
.catagory-card span {
	display: block;
	font-size: 11px;
	margin-top: 6px;
	font-weight: 700;
	line-height: 1;
	color: #8c8c8c;
}
.catagory-card:focus span,
.catagory-card:hover span {
	color: #2c2b2b;
}
a {
	text-decoration: none;
	text-align: center;
}
.modal-login {
	color: #636363;
	width: 350px;
}
.modal-login .modal-content {
	padding: 20px;
	border-radius: 5px;
	border: none;
}
.modal-login .modal-header {
	border-bottom: none;
	position: relative;
	justify-content: center;
}
.modal-login h4 {
	text-align: center;
	font-size: 26px;
}
.modal-login .form-group {
	position: relative;
}
.modal-login i {
	position: absolute;
	left: 13px;
	top: 11px;
	font-size: 18px;
}
.modal-login .form-control {
	padding-left: 40px;
}
.modal-login .form-control:focus {
	border-color: #00ce81;
}
.modal-login .form-control,
.modal-login .btn {
	min-height: 40px;
	border-radius: 3px;
}
.modal-login .hint-text {
	text-align: center;
	padding-top: 10px;
}
.modal-login .close {
	position: absolute;
	top: -5px;
	right: -5px;
}
.modal-login .btn,
.modal-login .btn:active {
	border: none;
	background: #0b83bf !important;
	line-height: normal;
}
.modal-login .btn:hover,
.modal-login .btn:focus {
	background: #0b83bf !important;
}
.modal-login .modal-footer {
	background: #ecf0f1;
	border-color: #dee4e7;
	text-align: center;
	margin: 0 -20px -20px;
	border-radius: 5px;
	font-size: 13px;
	justify-content: center;
}
.modal-login .modal-footer a {
	color: #999;
}
.trigger-btn {
	display: inline-block;
	margin: 100px auto;
}
.promo {
	margin: 1.4rem 0rem .4rem 0rem;
}
.promo-item {
	border-radius: 15px;
	display: flex;
	background: linear-gradient(rgba(27, 140, 244, 0.7), rgba(0, 167, 246, 0.7)), url(./img/bg.png);
	background-size: cover;
	min-width: 300px !important;
	padding: 1.3rem 1rem;
	align-items: center;
	margin-right: 1rem;
}
.promo-img {
	height: 100px;
	width: 100px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	margin-right: .7rem;
}
.promo-img1 {
	background-image: url(img/register.svg)
}
.promo-img2 {
	background-image: url(img/resale.svg)
}
.promo-img3 {
	background-image: url(img/bonus.svg)
}
.promo-img4 {
	background-image: url(img/payment.svg)
}
.promo-item h3 {
	font-size: 1rem;
	font-weight: 700;
	color: #ffd800;
}
.promo-item p {
	font-size: .85rem;
	margin: .5rem 0rem .8rem 0rem;
	font-weight: 500;
	color: #fff;
}
.promo-item a {
	color: #fff;
	font-weight: 600;
	background: #ffd800;
	border-radius: 7px;
	width: 40%;
	text-align: center;
	height: 36px;
	padding: 6px;
	margin: -7px auto;
	float: right;
}
.promo-item a:hover {
	color: rgb(59, 59, 59);
	font-weight: 600;
	background: #ffd800;
}
.promo-info{

}
.promo-info h3{
}
.promo-info p{

}
.promo-info a{
}
.popular-img {
	height: 130px;
	width: 140px;
	border-radius: 20px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	margin-right: .7rem;
}
.category-items {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 1rem;
	padding: 1.2rem 0rem;
	text-align: center;
}
.category-item .item-img {
	background: var(--main-light);
	background-repeat: no-repeat;
	background-size: 70%;
	background-position: center;
}
.voucher-card {
	height: 159.212px;
	margin-top: 9px;
	transform: perspective(1000px);
	min-height: 0px;
}
.row-first {
	margin-right: -18px;
	margin-left: 0px;
}
.row-second {
	margin-right: -18px;
	margin-left: -13px;
}
.horitzontalScroll {
	min-width: 100%;
	min-height: 100px;
	display: flex;
	overflow-x: auto;
}
.c-1 {
	width: 16rem;
	border: none;
	margin: 14px;
	margin-bottom: 14px;
	min-width: 280px;
	max-width: 296px;
	margin-bottom: 20px;
	box-shadow: 5px 5px 16px 2px rgba(0, 0, 0, 0.25);
	height: 108px;
}
.text-muted1 {
	font-family: "Roboto", sans-serif;
	font-weight: 700;
	color: var(--bs-dark);
	text-align: left;
}
.btn-pink {
	height: 30px;
	font-size: 16px;
	text-align: center;
	padding: 0px;
	width: 83.9062px;
	border-radius: 6px;
	letter-spacing: 2px;
	font-family: "Roboto", sans-serif;
	line-height: 12.8px;
	margin: 21px 8px 10px 0px;
	margin-top: -14px;
	background: var(--bs-pink);
	margin-right: 17px;
	margin-left: 171px;
	border-style: none;
	border-top-left-radius: 6px;
	border-bottom-right-radius: 6px;
	border-top-right-radius: 0px;
	border-bottom-left-radius: 0px;
	color: rgb(255, 255, 255);
}
.products {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}
.product {
	padding: 1rem;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	position: relative;
}
.product:nth-child(even) {
	border-right: none;
}
.product.last {
	border-bottom: none;
}
.prod-img {
	height: 150px;
	background-size: 90%;
	background-position: center;
	background-repeat: no-repeat;
	margin-bottom: .5rem;
}
.prod-title + small {
	font-weight: 600;
	color: #666;
	display: inline-block;
	margin: .5rem 0rem;
}
.prod-price {
	color: var(--main-color);
	font-weight: 700;
	font-size: 1.2rem;
}
.product button {
	position: absolute;
	right: 0;
	bottom: 0;
	width: 30px;
	height: 30px;
	color: #fff;
	outline: none;
	border: none;
	border-radius: 10px 0 0 0;
	background: var(--main-color);
}
.product-header {
	position: relative;
	height: 280px;
	background: #fff;
	padding: 1rem;
}
.product-header .flex {
	position: absolute;
	top: 1.5rem;
	left: 1.5rem;
	right: 1.5rem;
	z-index: 30;
}
.product-header .flex span {
	height: 50px;
	width: 50px;
	border-radius: 50%;
	background: #fff;
	display: grid;
	place-items: center;
	font-size: 1.4rem;
	box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}
.product-img {
	height: 80%;
	background-size: 80%;
	background-repeat: no-repeat;
	background-position: center;
}
.product-details {
	margin-bottom: 1rem !important;
	text-align: center;
}
.product-details h2 {
	font-size: 1.4rem;
}
.product-details h2 + small {
	font-size: .9rem;
	font-weight: 600;
	color: #777;
	display: inline-block;
	margin: .5rem 0rem;
}
.product-details .details {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 1rem;
	margin-top: .5rem;
}
.product-details .details div {
	padding: 0rem 1rem;
	border-right: 1px solid #ccc;
	font-size: .9rem;
	font-weight: 600;
	color: #444;
}
.product-details .details div:last-child {
	border-right: none;
}
.product-details .actions {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 1rem;
	margin-top: .7rem;
}
.product-details input {
	width: 40px;
	height: 30px;
	margin: 0rem 1rem;
	border: none;
	outline: none;
	font-weight: 500;
	color: #333;
	font-size: 1.15rem;
}
.product-details button {
	height: 27px;
	width: 27px;
	background: var(--main-color);
	border: 1px solid var(--main-color);
	color: #fff;
	border-radius: 10px;
	font-size: 1.5rem;
	display: grid;
	place-items: center;
}
.product-desc.section-wrapper {
	padding: 0rem;
	overflow-x: hidden;
	margin-bottom: 1.2rem;
}
.product-desc .flex {
	padding: 1rem 2rem;
}
.description {
	background: var(--main-color);
	padding: 2rem;
	border-radius: 20px 20px 0 0;
	position: relative;
}
.description:after {
	position: absolute;
	top: -15px;
	left: 2rem;
	content: '';
	height: 30px;
	width: 30px;
	background: #fff;
	border-radius: 50%;
}
.description p,
.description li {
	text-align: justify;
	color: #fff;
	font-weight: 500;
}
.description li {
	margin-bottom: .5rem;
}
.description ul {
	margin-top: .5rem;
}
.container {
	display: flex;
	align-items: center;
	min-height: 100vh;
	width: 80%;
	margin: auto;
}
.page-description {
	margin-right: 10rem;
}
.page-description h1 {
	font-size: 2.9rem;
	margin-bottom: 1rem;
	color: #222;
}
.page-description h1 span {
	color: var(--main-color);
	font-size: 3.5rem;
}
.page-description p {
	color: #747794;
	font-weight: 500;
	line-height: 2rem;
	font-size: 1.1rem;
}
.frame {
	height: 700px;
	width: 414px;
	min-width: 414px;
	border: 4px solid #333;
	border-radius: 20px;
}
.features {
	margin-top: 1.2rem;
}
.features span {
	font-size: 2.5rem;
	margin-right: .5rem;
	color: orange;
}
.stat-button {
	width: 100%;
	position: relative;
	z-index: 1;
	display: flex;
	/* margin-bottom: 16px; */
	/* margin: 4px auto; */
	/* margin-right: 4px; */
	padding: 5px;
	border-radius: 16px;
	background-color: #fff;
	box-shadow: 4px 6px 24px 0 rgb(32 32 35 / 10%);
	text-decoration: none;
	align-items: flex-start;
	flex-wrap: wrap;
	justify-content: center;
}
.status-container {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
}
.status-button {
	width: 100%;
	position: relative;
	z-index: 1;
	display: flex;
	align-items: center;
	margin-bottom: 16px;
	margin-top: -6px;
	padding: 16px;
	border-radius: 16px;
	background-color: #fff;
	box-shadow: 4px 6px 24px 0 rgba(32, 32, 35, 0.1);
	text-decoration: none;
}
.stat-icon {
	width: 100%;
	height: 40px;
	padding-top: 6px;
}
.status-icon {
	width: 40px;
	height: 40px;
	margin-right: 16px;
}
.speed {
	margin: auto;
	display: flex;
	justify-content: center;
	margin-bottom: 12px;
}
.speed .upload,
.download {
	width: 48%;
	display: grid;
	justify-content: center;
	border-radius: 20px;
	background-color: #fff;
	box-shadow: 4px 6px 24px 0 rgba(32, 32, 35, 0.1);
	text-decoration: none;
}
.speed .upload {
	margin-right: 5px;
	width: 100%;
}
.speed .download {
	margin-left: 5px;
	width: 100%;
}
.speed .upload svg {
	color: #fff;
	margin: 10px auto;
}
.speed .download svg {
	color: #fff;
	margin: 10px auto;
}
.speed .upload .title2 {
	color: var(--cat-font-color2);
	font-family: "Roboto",sans-serif;
	font-weight: bold;
	text-align: center;
}
.speed .download .title2 {
	color: var(--cat-font-color2);
	font-family: "Roboto",sans-serif;
	font-weight: bold;
	text-align: center;
}
.speed .upload .sub-title2 {
	color: var(--cat-font-color);
	font-family: "Roboto",sans-serif;
	font-weight: bold;
	font-size: 12px;
	text-align: center;
	margin-bottom: 10px;
}
.speed .download .sub-title2 {
	color: var(--cat-font-color);
	font-family: "Roboto",sans-serif;
	font-weight: bold;
	font-size: 12px;
	text-align: center;
	margin-bottom: 10px;
}
.status-title {
	margin-bottom: 4px;
	font-family: "Roboto",sans-serif;
	font-size: 18px;
	color: #1a1a1a;
	text-align: start;
}
.status-description-title2 {
	font-family: "Roboto",sans-serif;
	font-size: 14px;
	font-weight: 700;
	color: #646464;
	text-align: initial;
}
.logout-title {
	color: #fff;
	font-weight: 700;
	font-size: 19px;
	text-align: center;
}
.logout-button {
	width: 50%;
	position: relative;
	z-index: 1;
	/* display: flex; */
	align-items: center;
	margin-bottom: 16px;
	margin-top: -6px;
	padding: 14px;
	border-radius: 16px;
	background: #117fdb;
	background: -webkit-linear-gradient(to right, #0f80db, #058bdc);
	background: linear-gradient(to right, #0f80db, #058bdc);
	box-shadow: 4px 6px 24px 0 rgb(32 32 35 / 10%);
	text-decoration: none;
}
.main-container {
	display: flex;
	min-height: 69vh;
	position: relative;
	padding: -1px 24px 120px;
	justify-content: center;
	align-items: center;
}
.content-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.description-title {
	margin-bottom: 16px;
	font-family: "Roboto",sans-serif;
	font-size: 16px;
	text-align: center;
	color: #646464;
}
.additional-description-title {
	margin-bottom: 16px;
	font-family: "Roboto",sans-serif;
	font-size: 18px;
	text-align: center;
}
.additional-description-title a {
	text-align: center;
	color: #18358c;
}
}
a:hover .additional-description-title {
	text-align:center;
	color:#fa0000;
}
/* popup modal awal */
.modal1 {
	position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    outline: 0;
	backdrop-filter: blur(5px);
	transition: all .3s;
  }
  .modal-content1 {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
	border-radius: 1rem;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 1rem;
    outline: 0;
  	box-shadow: 0px -1px 20px 4px rgb(0 0 0 / 22%);
  	-moz-box-shadow: 0 0 50px 10px rgba(255, 255, 255, 0.75) inset;
  }
  .modal-content1 h1 {
  font-size: 20px;
  margin: -5px auto;
  font-weight: bold;
  color: #5c5c5c;
  }
  .modal-content1 h2 {
  margin:2px auto;
  font-size: 17px;
  color:#5c5c5c
  }
  .modal-content1 h4 {
  margin:2px auto;
  color:#5c5c5c;
  font-size: 13px;
  }
  .btn-lanjut{
  color: rgb(248 248 248);
  font-weight: 700;
  font-size: 14px;
  cursor: pointer;
  border-radius: 10px;
  background: #118eea;
  border: 1px solid #ddd;
  margin: 5px 20px;
  padding: 10px 20px;
  }
  .btn-lanjut:hover,.btn-lanjut:focus{
  color:#fff;
  background-color: #ffc33e;
  text-decoration:none;
  cursor:pointer;
  border:none;
  }
  .btn-lanjut{
  transition:all .3s
  }
  @media (min-width:576px) {
    .modal-content1 {
		max-height: calc(106vh - 3.5rem);
    }
  }
.buy-button {
	width:100%;
	position:relative;
	z-index:1;
	display:flex;
	align-items:center;
	margin-bottom:16px;
	padding:16px;
	border-radius:16px;
	background-color:#fff;
	box-shadow:4px 6px 24px 0 rgba(32,
	32,
	35,
	0.1);
	text-decoration:none;
}
.buy-icon {
	width:40px;
	height:40px;
	margin-right:16px;
}
.buy-title {
	margin-bottom:4px;
	font-family: "Roboto",sans-serif;
	Arial,
	Helvetica,
	sans-serif;
	font-size:18px;
	color:#1a1a1a;
	text-align:start;
}
.buy-description-title {
	font-family: "Roboto",sans-serif;
	Arial,
	Helvetica,
	sans-serif;
	font-size:14px;
	color:#646464;
	text-align:initial;
}
.buy-description-title2 {
	font-family: "Roboto",sans-serif;
	Arial,
	Helvetica,
	sans-serif;
	font-size:14px;
	font-weight:700;
	color:#646464;
	text-align:initial;
}
.buy-arrow-icon {
	width:24px;
	height:24px;
	position:absolute;
	top:50%;
	right:16px;
	transform:translateY(-50%);
}
.bg-image-desktop {
	width:100%;
	position:absolute;
	bottom:0;
	left:0;
	right:0;
	z-index:0;
}
.bg-image-mobile {
	display:none;
}
.logout-body {
	margin:0;
	padding:0;
	font-family:"Roboto",
	sans-serif;
	min-height:100vh;
	background:#117fdb;
	background:-webkit-linear-gradient(to right,
	#0f80db,
	#3ea4e4);
	background:linear-gradient(to right,
	#0f80db,
	#3ea4e4);
}
.logout-1 {
	width:100%;
	position:absolute;
	top:50%;
	transform:translateY(-50%);
	text-align:center;
	color:#ffffff
}
.logout-1-p {
	width:50%;
	justify-content:center;
	transform:translateY(-0%);
	text-align:center;
	font-size:13px;
	padding:11px 16px;
	color:#ffffff;
}
.logout-1-b {
	margin:0px;
}
.logout-1-c {
	margin:0px;
	display:flex;
	text-align:center;
	justify-content:center;
}
.logout-1-btn {
	text-decoration:none;
	background:#ffc107;
	color:#fff;
	margin-top:10px;
	font-weight:900;
	padding:12px 24px;
	display:inline-block;
	border-radius:10px;
	border:none;
	font-size:14px;
	text-transform:uppercase;
	transition:0.4s;
	cursor:pointer;
}
.logout-1-btn:hover {
	background:#f5b800;
	color:#333;
}
.logout-2-btn {
	text-decoration:none;
	background:#ffc107;
	color:#fff;
	margin-top:10px;
	font-weight:900;
	padding:12px 24px;
	margin-left:10px;
	display:inline-block;
	border-radius:10px;
	border:none;
	font-size:14px;
	text-transform:uppercase;
	transition:0.4s;
	cursor:pointer;
}
.logout-2-btn:hover {
	background:#f5b800;
	color:#333;
}
.logout-3-btn {
	text-decoration:none;
	background:#ffc107;
	color:#fff;
	margin-top:10px;
	margin-right:10px;
	font-weight:900;
	padding:12px 24px;
	display:inline-block;
	border-radius:10px;
	border:none;
	font-size:14px;
	text-transform:uppercase;
	transition:0.4s;
	cursor:pointer;
}
.logout-3-btn:hover {
	background:#f5b800;
	color:#333;
}
@media screen and (max-width: 767px) {
	.logout-1 img {
		width:50%;
	}
	.logout-1-p {
		width: 100%;
	}
}
@media screen and (max-width: 767px) {
	.content-container {
		width:100%;
		flex-direction:column;
		align-items:center;
	}
	.tips-description-title {
		margin-bottom: 32px;
        font-family: "Roboto",sans-serif;
		font-size: 10px;
		text-align: center;
		color: #646464;
	}
	.additional-description-title {
		margin-bottom: 16px;
        font-family: "Roboto",sans-serif;
		font-size: 16px;
		text-align: center;
		color: #1a1a1a;
	}
	.buy-arrow-icon {
		display: none;
	}
	.buy-title {
		margin-bottom: 4px;
        font-family: "Roboto",sans-serif;
		font-size: 16px;
		color: #1a1a1a;
		text-align: start;
	}
	.buy-description-title {
        font-family: "Roboto",sans-serif;
		font-size: 12px;
		color: #646464;
		text-align: initial;
		margin-bottom: 4px;
	}
	.bg-image-desktop {
		display: none;
	}
	.bg-image-mobile {
		display: block;
		width: 100%;
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 0;
	}
}
.wrapper {
	background:white;
	border-radius:30px;
	height:509px;
	width:920px;
	display:grid;
	grid-template-columns:400px 1fr;
	grid-gap:6rem;
}
.question-answer__accordion > .answer {
	display:none;
}
.active > .answer {
	display:block;
	padding:0 15px 30px;
	padding-top:10px;
	padding-bottom:10px;
	color:#1a1a1a;
	font-size:12px;
}
.answer p {
	font-size:11px;
	margin-bottom:16px;
}
.active img {
	transform:rotate(180deg);
	transition:all 0.3s ease-in;
}
.accordion__wrapper {
	margin-top:14px;
	display:flex;
	flex-direction:column;
}
.questions__accordions {
	height:100%;
	display:flex;
	flex-direction:column;
}
.question-answer__accordion {
	width:100%;
	border-bottom:1px solid #e8e8ea;
}
.title__accordion {
	font-size:2rem;
	margin-top:0px;
	font-weight:500;
	font-family:"Roboto",
	sans-serif;
	text-align:center;
	color:#686868;
}
.title__question {
	font-weight:400;
	font-size:13px;
	color:#686868;
	margin:1.4rem 0rem;
}
.question {
	display:flex;
	justify-content:space-between;
	cursor:pointer;
	transition:0.4s;
}
.active h3 {
	font-weight:700;
}
.question img {
	align-self:center;
}
.box {
	position:absolute;
	top:42%;
	left:-25%;
}


@media (max-width: 700px) {
	.wrapper {
		width:350px;
		grid-template-columns:1fr;
		grid-template-rows:100px 1fr;
		grid-gap:0.5rem;
		position:relative;
		padding:1rem;
		height:530px;
	}
	.box {
		width: 55px;
		left: 19%;
		top: -30%;
	}
	.accordion__wrapper {
		margin-top: 0px;
	}
	.question-answer__accordion {
		width: 100%;
	}
	.title__accordion {
		text-align: center;
	}
}

.navbar {
    list-style-type: none;
    display: inline-block;
    border-width: 1px 0px 0px;
    font-weight: 600;
    line-height: 13px;
    text-align: center;
    vertical-align: middle;
    transition: all 0.35s ease 0s;
    text-decoration: none;
    width: 100%;
    position: fixed;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%);
    z-index: 2;
    padding: 10px;
    font-size: 1em;
    margin: 0px;
    background-color: #fff;
    box-shadow: 0px -5px 20px 0px rgb(0 0 0 / 10%);
}

.row-navbar {
    display: inline-block;
    width: 20%;
    font-size: 10px;
    cursor: pointer;
}

.navigation {
    position: relative;
    padding-top: 4px;
}

.icon-menu {
    display: inline-block;
	width:12%
}

.title-menu {
    color: rgb(168, 168, 168);
    white-space: nowrap;
    display: inline-block;
}

.navbar-title {
    color: #8c8c8c;
    white-space: nowrap;
    display: inline-block;
}
.navbar-title:hover {
    color: #ffc107;
    white-space: nowrap;
    display: inline-block;
}
.title{
padding: 5px;

}
.title h3{
	font-size: 13.5px;
	font-weight: 500;
	}
	.title a{
		color:rgb(7, 167, 230);
		}
.mb-1:hover,:focus{
 color:#058bdc;
}
.title5{
	padding: 5px;
	
	}
	.title5 h3{
		font-size: 20.5px;
		text-align: inherit;
		font-weight: 400;
		}
/* responsive */
@media(max-width: 2560px) {
	.buttons {
		width: 50%;
	}
	.section-wrapper {
		margin-top: 17px;
	   }
	   .section-wrapper-1 {
		margin-top: -65px;  
	   }
	.catagory-card a {
		width: 70%;
	}
	.promo-item {
		width: 50%;
	}
}
@media(max-width: 1900px) {
	.buttons {
		width: 50%;
	}
	.catagory-card a {
		width: 70%;
	}
	.promo-item {
		width: 50%;
	}
}
@media(max-width: 1700px) {
	.catagory-card {
		width:50%;
	}
	.buttons {
		width:50%;
	}
	.catagory-card a {
		width:70%;
	}
}
@media(max-width: 1600px) {
	.catagory-card {
		width:50%;
	}
	.buttons {
		width:50%;
	}
	.catagory-card a {
		width:70%;
	}
}
@media(max-width: 1476px) {
	.catagory-card {
		width:50%;
	}
	.buttons {
		width:50%;
	}
	.catagory-card a {
		width:70%;
	}
}
@media(max-width: 1366px) {
	.catagory-card {
		width:50%;
	}
	.buttons {
		width:60%;
	}
	.catagory-card a {
		width:70%;
	}
}
@media(max-width: 1280px) {
	.catagory-card {
		width:100px;
	}
	.buttons {
		width:60%;
	}
	.catagory-card a {
		width:70%;
	}
}
@media(max-width: 1190px) {
	.catagory-card {
		width:100px;
	}
	.buttons {
		width:60%;
	}
	.catagory-card a {
		width:70%;
	}
}
@media(max-width: 1080px) {
	.catagory-card {
		width:100px;
	}
	.buttons {
		width:60%;
	}
	.catagory-card a {
		width:70%;
	}
}
@media(max-width: 1050px) {
	.catagory-card {
		width:100px;
	}
	.buttons {
		width:60%;
	}
	.catagory-card a {
		width:70%;
	}
@media(max-width: 1024px) {
	.catagory-card {
		width:100px;
	}
	.buttons {
		width:60%;
	}
	.catagory-card a {
		width:70%;
	}
}
@media(max-width: 991px) {
	.catagory-card {
		width:100px;
	}
	.buttons {
		width:60%;
	}
	.catagory-card a {
		width:70%;
	}
}
@media(max-width: 900px) {
	.catagory-card {
		width:100px;
	}
	.buttons {
		width:60%;
	}
	.catagory-card a {
		width:70%;
	}
	.icon-menu {
		width:20%;
	}
}
@media(max-width: 800px) {
	.catagory-card {
		width:100px;
	}
	.buttons {
		width:60%;
	}
	.catagory-card a {
		width:70%;
	}
	.icon-menu {
		width:20%;
	}
}
@media(max-width: 768px) {
	.catagory-card {
		width:100px;
	}
	.buttons {
		width:60%;
	}
	.catagory-card a {
		width:70%;
	}
	.icon-menu {
		width:20%
	}
	.section-wrapper-1 {
		margin-top: -65px;
	}
}
@media(max-width: 736px) {
	.catagory-card {
		width:100px;
	}
	.buttons {
		width:60%;
	}
	.catagory-card a {
		width:70%;
	}
	.section-wrapper {
		margin-top: -3px;
	   }	
	.section-wrapper-1 {
		margin-top: -65px;
	}
}

@media(max-width: 667px) {
	.catagory-card {
		width:100px;
	}
	.buttons {
		width:60%;
	}
	.catagory-card a {
		width:70%;
	}
	.section-wrapper {
		margin-top: -3px;
	   }	
	.section-wrapper-1 {
		margin-top: -65px;
	}
}
@media(max-width: 640px) {
	.catagory-card {
		width:100px;
	}
	.buttons {
		width:60%;
	}
	.catagory-card a {
		width:70%;
	}
	.section-wrapper {
		margin-top: -3px;
	   }	
	.section-wrapper-1 {
		margin-top: -65px;
	}
}
@media(max-width: 600px) {
	.catagory-card {
		width:100px;
	}
	.buttons {
		width:60%;
	}
	.catagory-card a {
		width:70%;
	}
	.section-wrapper {
		margin-top: -3px;
	   }	
	.section-wrapper-1 {
		margin-top: -65px;
	}
}
@media(max-width: 568px) {
	.catagory-card {
		width:100px;
	}
	.buttons {
		width:90%;
	}
	.catagory-card a {
		width:70%;
	}
	.icon-menu {
		width:30%
	}
	.section-wrapper {
		margin-top: -3px;
	   }	
	.section-wrapper-1 {
		margin-top: -65px;
	}
}
@media(max-width: 480px) {
	.catagory-card {
		width:100px;
	}
	.buttons {
		margin-top:1rem;
		width:90%%;
	}
	.catagory-card a {
		width:100%;
	}
	.icon-menu {
		width:50%
	}
	.section-wrapper {
		margin-top: -3px;
	   }	
	.section-wrapper-1 {
		margin-top: -65px;
	}
}
@media(max-width: 463px) {
	.catagory-card {
		width:100px;
	}
	.buttons {
		margin-top:0rem;
		width:90%%;
	}
	.catagory-card a {
		width:100%;
	}
	.icon-menu {
		width:50%
	}
	.section-wrapper {
		margin-top: 5px;
	   }	
	.section-wrapper-1 {
		margin-top: -65px;
	}
}
@media(max-width: 440px) {
	.catagory-card {
		width:100px;
	}
	.buttons {
		margin-top:1rem;
		width:113%;
	}
	.catagory-card a {
		width:100%;
	}
	.icon-menu {
		width:50%
	}
	.section-wrapper {
		margin-top: 5px;
	   }	
	.section-wrapper-1 {
		margin-top: -65px;
		padding:0.3rem;
	}
}
@media(max-width: 414px) {
	.catagory-card {
		width:100px;
	}
	.buttons {
		margin-top:1rem;
		width:140%;
		margin-bottom: 0.3rem;
	}
	.catagory-card a {
		width:100%;
	}
	.icon-menu {
		width:50%
	}
	.section-wrapper {
		margin-top: 5px;
	   }	
	.section-wrapper-1 {
		margin-top: -65px;
		padding:0.3rem;
	}
}
@media(max-width: 375px) {
	.catagory-card {
		width:100px;
	}
	.buttons {
		margin-top:1rem;
		width:140%;
	}
	.catagory-card a {
		width:85%;
	}
	.icon-menu {
		width:50%
	}
	.section-wrapper {
		margin-top: 5px;
	   }	
	.section-wrapper-1 {
		margin-top: -65px;
		padding:0.3rem;
	}
}
@media(max-width: 320px) {
	.catagory-card {
		width:100px;
	}
	.buttons {
		margin-top:1rem;
		width:144%;
	}
	.section-wrapper {
		margin-top: 5px;
	   }	
	.catagory-card a {
		width:85%;
	}
	.icon-menu {
		width:50%
	}
	.section-wrapper-1 {
		margin-top: -65px;
		padding:0.3rem;
	}
}
/* //responsive */